<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyToABDM</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ResetBtnPresent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegdCouncil</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SubmitBtnTxtPresent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelValueInRegdCounc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegdNum</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SubCateEmptyVal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RegdCounEmptyVal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RegdNumEmptyVal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelValueInCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_Launch_Chrome_browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyHPR</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_clicks_reg_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValiRemoveValueInCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValiRemoveValueInSubCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SubmitBtnPresent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValiRemoveValueInRegdNum</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_opens_URL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyToSubCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SelValueInSubCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValiRemoveValueInRegdCounc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_clicks_on_login_Register_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ResetBtnTxtPresent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_clicks_HP_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>user_clicks_regNow_button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyWelcomeImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyToCate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CateEmptyVal</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
