<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="789d62">  <td>22/11/30 15:55:28</td>   <td>0</td> <td title="&lt;&lt;MainBaseFeature.tearDown()[pri:0, instance:UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration@29a69a35]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87845070</td>   <td></td> </tr>
<tr bgcolor="c795b3">  <td>22/11/30 15:55:23</td>   <td>-5193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_HBI_HP_Registration.user_Launch_Chrome_browser()[pri:1, instance:UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration@29a69a35]">user_Launch_Chrome_browser</td> 
  <td>main@87845070</td>   <td></td> </tr>
<tr bgcolor="789d62">  <td>22/11/30 15:55:28</td>   <td>-199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration@29a69a35]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@87845070</td>   <td></td> </tr>
<tr bgcolor="789d62">  <td>22/11/30 15:55:23</td>   <td>-5564</td> <td title="&gt;&gt;MainBaseFeature.beforeSuit()[pri:0, instance:UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration@29a69a35]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@87845070</td>   <td></td> </tr>
</table>
