<h2>Methods that were not run</h2><table>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyToABDM</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ResetBtnPresent</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyRegdCouncil</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SubmitBtnTxtPresent</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SelValueInRegdCounc</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyRegdNum</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SubCateEmptyVal</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.RegdCounEmptyVal</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ValiRemoveValueInRegdCounc</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.RegdNumEmptyVal</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SelValueInCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyHPR</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ValiRemoveValueInSubCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SubmitBtnPresent</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.user_clicks_reg_button</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ValiRemoveValueInCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.user_opens_URL</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ValiRemoveValueInRegdNum</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.user_clicks_on_login_Register_button</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.ResetBtnTxtPresent</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyToSubCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.SelValueInSubCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.user_clicks_regNow_button</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.user_clicks_HP_button</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyWelcomeImage</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.verifyToCate</td></tr>
<tr><td>UI_HBI.HEALTHCARE_PROFESSIONAL.TC1_HBI_HP_Registration.CateEmptyVal</td></tr>
</table>