<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>UI_HBI.HBI_NO_LandingPage_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySuspendedTileOnApprovalPendingPage</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDeactivatedTileOnApprovalPendingPage</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserTypeFilterFunctionalityOnApprovalPendingPageForFE</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserTypeFilterFunctionalityOnApprovalPendingPageForNO</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAuthorisedOfficialTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRejectedTileOnApprovalPendingPage</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmployerConnectedTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyInitiatedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserTypeFilterFunctionalityOnApprovalPendingPageForRA</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangePassword</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifygetOTP</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmailIDTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEditProfile</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPreDepartureOrientationTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchFunctionalityOnDashboardForRA</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyApprovedTileOnApprovalPendingPage</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmployementStartedTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyReadyForDepartureTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySearchFunctionalityOnDashboardForFE</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyVerifiedTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNameOfAuthorisedOfficialTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyVisaWorkPermitProcessingTile</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySubmittedTileOnApprovalPendingPage</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyDesignationTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyContactNumberTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUpdateAndSubmitBtn</td>
<td>Sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>UI_HBI.HBI_HomePage_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>mohfwLinkAtFooterTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>azadiLogoTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>twitterLinkTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>hbiLogoTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>grievanceBtnTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>employerDirectoryTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>mohfwLogoTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aboutUsBtnTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>contactUsTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>facebooklogoTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ministryOfExternalAffairsLinkAtFooterTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cpgramsHomeLinkAtFooterTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>dashboardTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>emigrationLinkAtFooterTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>youTubeLinkTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>homeButtonTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>hpSearchBoxTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>consularServiceManagementSystemLinkAtFooterTest</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>recruitersDirectoryTest</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>UI_HBI.HBI_LoginPage_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginToHBIforNOTest</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginToHBIforHPTest</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginToHBIforRATest</td>
<td>Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>UI_HBI.HBI_RA_LandingPage_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyHealthcareProfessionalSearchBox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEditProfile</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySelectTheRecruitingHealthcareProfessionalTypeDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPreDepartureOrientationTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyRegistrationvalidUpto</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmployerConnectedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyWithdrawnRejectedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmployementStartedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAddressDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyInitiatedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyReadyForDepartureTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCityDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEnterRegistrationNumberTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyPincodeDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyVerifiedTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyChangePassword</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyNameOfRecruitingAgencyTextbox</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyVisaWorkPermitProcessingTile</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyStateDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmailIDTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyCountryTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySelectTheCountryRecruitingForDropdown</td>
<td>Sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyContactNumberTextbox</td>
<td>Sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
