<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:41:10</td>   <td>-188092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyReadyForDepartureTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyReadyForDepartureTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:29:28</td>   <td>-890308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyReadyForDepartureTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyReadyForDepartureTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:48</td>   <td>-1170678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.youTubeLinkTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">youTubeLinkTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:22:04</td>   <td>-1334878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.employerDirectoryTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">employerDirectoryTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:21:10</td>   <td>-1388596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.contactUsTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">contactUsTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:43:38</td>   <td>-40626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyVerifiedTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyVerifiedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:21:37</td>   <td>-1361294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.dashboardTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">dashboardTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:28:41</td>   <td>-937272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyNameOfAuthorisedOfficialTextbox()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyNameOfAuthorisedOfficialTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:20:56</td>   <td>-1402385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.consularServiceManagementSystemLinkAtFooterTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">consularServiceManagementSystemLinkAtFooterTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:18:43</td>   <td>-1535881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_LoginPage_Test.loginToHBIforHPTest()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">loginToHBIforHPTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:34:46</td>   <td>-572678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyCityDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyCityDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:28:23</td>   <td>-955656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyInitiatedTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyInitiatedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:19:54</td>   <td>-1464233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_LoginPage_Test.setup()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:08</td>   <td>-10734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyVisaWorkPermitProcessingTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyVisaWorkPermitProcessingTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:42:09</td>   <td>-129175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifySelectTheCountryRecruitingForDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifySelectTheCountryRecruitingForDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:40:10</td>   <td>-248128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyPincodeDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyPincodeDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:21:23</td>   <td>-1375603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.cpgramsHomeLinkAtFooterTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">cpgramsHomeLinkAtFooterTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:40:40</td>   <td>-218588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyPreDepartureOrientationTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyPreDepartureOrientationTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:32:02</td>   <td>-736606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyUserTypeFilterFunctionalityOnApprovalPendingPageForNO()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyUserTypeFilterFunctionalityOnApprovalPendingPageForNO</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:39:41</td>   <td>-277618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyNameOfRecruitingAgencyTextbox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyNameOfRecruitingAgencyTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:23:51</td>   <td>-1227762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.mohfwLinkAtFooterTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">mohfwLinkAtFooterTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:22:32</td>   <td>-1306691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.grievanceBtnTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">grievanceBtnTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:31:06</td>   <td>-792989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifySuspendedTileOnApprovalPendingPage()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifySuspendedTileOnApprovalPendingPage</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30821</td> <td title="&lt;&lt;MainBaseFeature.tearDown()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:35:14</td>   <td>-544073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyContactNumberTextbox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyContactNumberTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:29:09</td>   <td>-909310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyPreDepartureOrientationTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyPreDepartureOrientationTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:34:16</td>   <td>-602164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyChangePassword()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyChangePassword</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:38:12</td>   <td>-366676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyEnterRegistrationNumberTextbox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyEnterRegistrationNumberTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:20:27</td>   <td>-1431077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:27:32</td>   <td>-1006629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyEmailIDTextbox()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyEmailIDTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:20:34</td>   <td>-1424683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.aboutUsBtnTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">aboutUsBtnTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:26:18</td>   <td>-1080620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyContactNumberTextbox()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyContactNumberTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:33:47</td>   <td>-631513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyAddressDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyAddressDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:27:48</td>   <td>-990227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyEmployementStartedTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyEmployementStartedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:43:08</td>   <td>-70043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyStateDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyStateDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:29:47</td>   <td>-871484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyRejectedTileOnApprovalPendingPage()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyRejectedTileOnApprovalPendingPage</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:31:25</td>   <td>-773575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyUpdateAndSubmitBtn()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyUpdateAndSubmitBtn</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:39:10</td>   <td>-308100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyInitiatedTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyInitiatedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:36:14</td>   <td>-484430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyEditProfile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyEditProfile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:37:42</td>   <td>-396560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyEmployerConnectedTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyEmployerConnectedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:27:08</td>   <td>-1030976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyEditProfile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyEditProfile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:18:32</td>   <td>-1546632</td> <td title="&gt;&gt;MainBaseFeature.beforeSuit()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:19:58</td>   <td>-1460928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_LoginPage_Test.loginToHBIforRATest()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">loginToHBIforRATest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:37</td>   <td>18777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyWithdrawnRejectedTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyWithdrawnRejectedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:22:22</td>   <td>-1316079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.facebooklogoTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">facebooklogoTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:35:44</td>   <td>-514272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyCountryTextbox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyCountryTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:38:41</td>   <td>-337353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyHealthcareProfessionalSearchBox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyHealthcareProfessionalSearchBox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:25:36</td>   <td>-1122197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyAuthorisedOfficialTextbox()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyAuthorisedOfficialTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:27</td>   <td>-651527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifygetOTP()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifygetOTP</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:19:54</td>   <td>-1464233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_LoginPage_Test.setup()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:42:39</td>   <td>-99993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifySelectTheRecruitingHealthcareProfessionalTypeDropdown()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifySelectTheRecruitingHealthcareProfessionalTypeDropdown</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:19:21</td>   <td>-1497066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_LoginPage_Test.loginToHBIforNOTest()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">loginToHBIforNOTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:31:41</td>   <td>-758029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyUserTypeFilterFunctionalityOnApprovalPendingPageForFE()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyUserTypeFilterFunctionalityOnApprovalPendingPageForFE</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:23:31</td>   <td>-1247978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.ministryOfExternalAffairsLinkAtFooterTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">ministryOfExternalAffairsLinkAtFooterTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:30:05</td>   <td>-853247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifySearchFunctionalityOnDashboardForFE()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifySearchFunctionalityOnDashboardForFE</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:20:27</td>   <td>-1431077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:15</td>   <td>-1203269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.recruitersDirectoryTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">recruitersDirectoryTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="c7f9b3">  <td>22/10/20 13:19:54</td>   <td>-1464233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_LoginPage_Test.setup()[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:23:09</td>   <td>-1269505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.hpSearchBoxTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">hpSearchBoxTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:20:45</td>   <td>-1413324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.azadiLogoTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">azadiLogoTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:25:54</td>   <td>-1104825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyChangePassword()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyChangePassword</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:26:33</td>   <td>-1065056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyDeactivatedTileOnApprovalPendingPage()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyDeactivatedTileOnApprovalPendingPage</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:37:14</td>   <td>-424951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyEmployementStartedTile()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyEmployementStartedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:22:47</td>   <td>-1291583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.hbiLogoTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">hbiLogoTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:34</td>   <td>-1184805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.twitterLinkTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">twitterLinkTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:44:49</td>   <td>30059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:25:16</td>   <td>-1142256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyApprovedTileOnApprovalPendingPage()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyApprovedTileOnApprovalPendingPage</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:20:27</td>   <td>-1431077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_LoginPage_Test@250b236d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:12</td>   <td>-667005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyVisaWorkPermitProcessingTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyVisaWorkPermitProcessingTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:26:51</td>   <td>-1047508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyDesignationTextbox()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyDesignationTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:36:44</td>   <td>-454595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyEmailIDTextbox()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyEmailIDTextbox</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:32:22</td>   <td>-716248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyUserTypeFilterFunctionalityOnApprovalPendingPageForRA()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyUserTypeFilterFunctionalityOnApprovalPendingPageForRA</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:33:13</td>   <td>-665682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_NO_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:28:05</td>   <td>-974017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyEmployerConnectedTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyEmployerConnectedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:32:45</td>   <td>-693390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifyVerifiedTile()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifyVerifiedTile</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:04</td>   <td>-1214499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.mohfwLogoTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">mohfwLogoTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:21:50</td>   <td>-1348053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.emigrationLinkAtFooterTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">emigrationLinkAtFooterTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:41:40</td>   <td>-158339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_RA_LandingPage_Test.verifyRegistrationvalidUpto()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">verifyRegistrationvalidUpto</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:22:58</td>   <td>-1280207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_HomePage_Test.homeButtonTest()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">homeButtonTest</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:33:28</td>   <td>-650672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6b9a95">  <td>22/10/20 13:24:44</td>   <td>-1174399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_HomePage_Test.setup()[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:30:26</td>   <td>-832481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifySearchFunctionalityOnDashboardForRA()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifySearchFunctionalityOnDashboardForRA</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="6f629d">  <td>22/10/20 13:30:49</td>   <td>-809975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HBI_NO_LandingPage_Test.verifySubmittedTileOnApprovalPendingPage()[pri:0, instance:UI_HBI.HBI_NO_LandingPage_Test@52b6319f]">verifySubmittedTileOnApprovalPendingPage</td> 
  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a270a2">  <td>22/10/20 13:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HBI_RA_LandingPage_Test.setup()[pri:0, instance:UI_HBI.HBI_RA_LandingPage_Test@5e9456ae]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
<tr bgcolor="a4e9c7">  <td>22/10/20 13:25:01</td>   <td>-1157503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainBaseFeature.getResult(org.testng.ITestResult)[pri:0, instance:UI_HBI.HBI_HomePage_Test@60dd3c23]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1754451055</td>   <td></td> </tr>
</table>
